                                    <div class="d-flex align-items-center p-0 border-faded border-top-0 border-left-0 border-right-0 flex-shrink-0">
                                        <div class="d-flex align-items-center w-100 pl-3 px-lg-4 py-2 position-relative">
                                            <div class="d-flex flex-row align-items-center mt-1 mb-1">
                                                <div class="mr-2 d-inline-block">
                                                    <span class="rounded-circle profile-image d-block" style="background-image:url('assets/img/default.png'); background-size: cover;"></span>
                                                </div>
                                                <div class="info-card-text">
                                                    <a href="employee.php?uid={{employee_id}}" class="fs-lg text-truncate text-truncate-lg">
                                                        {{employee_name}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0);" class="px-3 py-2 d-flex d-lg-none align-items-center justify-content-center mr-2 btn" data-action="toggle" data-class="slide-on-mobile-left-show" data-target="#js-chat-contact">
                                            <i class="fal fa-ellipsis-v h1 mb-0 "></i>
                                        </a>
                                    </div>
