                            <div class="col-xl-12">
                                <div class="alert border-faded border bg-white text-secondary fade show" role="alert">
                                    <div class="d-flex align-items-center">
                                        <div class="alert-icon">
                                            <span class="icon-stack icon-stack-md">
                                                <i class="base-7 icon-stack-3x color-info-600"></i>
                                                <i class="fal fa-info icon-stack-1x text-white"></i>
                                            </span>
                                        </div>
                                        <div class="flex-1">
                                            <span class="h5 color-info-600">Sul on mõned puhkuse avaldused kinnitada</span>
                                            <br>
                                            {{pending}} kinnitamata avaldust
                                        </div>
                                    </div>
                                </div>
                            </div>
